*{
margin: 0;
padding: 0;
}

/*HEADER PART a.k.a first interaction with the user*/

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/lines8.png), linear-gradient(rgba(4,9,30,0.7), rgba(4,7,50,0.7)), url(images/sala2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  animation: 10s;
  animation-name: slide;
  animation-timing-function: ease-in-out;

}

@keyframes slide {
  0% {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,7,50,0.7)),url(images/sala2.jpg);
  }

  25% {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,7,50,0.7)),url(images/sala3.jpg);
  }

  50% {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,7,50,0.7)), url(images/sala4.jpg);
  }

  75% {
    background-image:  linear-gradient(rgba(4,9,30,0.7), rgba(4,7,50,0.7)),url(images/sala2.jpg);
  }

  100% {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,7,50,0.7)),url(images/sala2.jpg);
  }
}



/*NAVIGATION BAR*/

nav{
  width: 100%;
  display: inline;
  padding: 2% 6%;
  justify-content: space-between;
  position: fixed;
  right: -5%;
  z-index: 99;
}

.nav-links{
  align-items: center;
  text-align: center;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  margin-right: 40px;
}



.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-shadow:1px 1px 1px #000000;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition:0.7s;
}

.nav-links ul li:hover::after{
  width:100%;
}

img{
  width: 45%;
}

.logo{
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  animation-name: ex;
  animation-duration: 3.5s;
}

@keyframes ex {
  from {opacity: 0%;}
  to {opacity: 100%;}
}



h1{
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}



.bingos{
  width: 99%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.row{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.btn{
  border-width: 0px;
  border-radius: 50%;
}

.bingo-tipi{
  height: 210px;
  flex-basis: 33%;
  background:#fff;
  margin-bottom: 5%;
  box-sizing: border-box;

  transition: transform 0.4s;
}

.bingo-tipi img{
  width: 100%;
  height: 100%;
}

.bingo-tipi:hover{
  transform: scale(1.3);
}

/*POPUP*/

.popup .overlay{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup .content{
  position: absolute;
  top:120%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  width: 300px;
  height: 400px;
  z-index: 2;
}


.imazh{
  position: absolute;
  top: 50%; left: 105%;
  transform: translate(-50%, -50%);
  width: 700px;
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: -5px;
  width: 30px;
  height: 30px;
  color:#fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  z-index: 99;

}

.popup.active .overlay{
  display: block;
}

.popup.active .content{
  transition: all 400ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}


nav .material-icons{
  display: none;
}

footer{
  margin-top: 100px;
  background: #111;
  height: 260px;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;

}


.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;

}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 0 5px 0;
}

.socials img{
  width: 20px;
  padding: 10px;

}

#preloader{
  background: #000 url(images/load.gif) no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.hide{
  display: none;
}

/*START OF CSS FOR MOBILE VIEW*/

@media(max-width: 700px){

  .row{
    flex-direction: column;
  }

  .bingo-type{

    flex-basis: 30%;
    background: white;
    background-size: cover;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;

  }


.bingo-type:hover{
  transition-property: none;
  transform: none;
}

  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: list-item;
    margin-top: 15px;

  }
  .nav-links{
    position: fixed;
    text-align: center;
    background: rgba(4,9,30,0.7);
    height: 100vh;
    width: 200px;
    top:0;
    right: -200px;
    z-index: 2px;
    transition: 1s;

  }

  .nav-links ul{
    padding: 30px;
    margin-left: 40px;
  }

  nav .material-icons{
    display: block;
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 32px;
    cursor: pointer;
  }

  #close{
    margin-right: 150px;
  }

.text1{
  font-size: 40px;
}

img{
  width: 80%
}

/*POPUP Mobile view*/
.popup-image img{
  width: 95%;
}

.popup .content{
  position: absolute;
  top:170%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100px;
  height: 200px;
  z-index: 2;
}


.imazh{
  position: absolute;
  top: 50%; left: 105%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: -110px;
  top: -100px;
  width: 30px;
  height: 30px;
  color:#fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  z-index: 100;

}

}
